{% block section %}
<section class="conatainer stage">
    {% block section_title %}
    {% endblock %}

    {% block section_description %}
    {% endblock %}

    {% block section_content %}
    {% endblock %}
</section>
{% endblock %}